<h2>{{ h2Title }}</h2>
<button class="btn btn-default btn-xs" ui-sref="business.index">
  <i class="glyphicon glyphicon-chevron-left"></i> Retour &agrave; la liste des &eacute;tablissements
</button>

<!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert(alert)">{{alert.message}}</alert>-->

<form novalidate>
  <div ng-if="isEdit" class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">ID</label>
    <input type="text" class="form-control" name="id" id="id" ng-model="business.id" readonly>
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Nom</label>
    <input type="text" class="form-control" name="name" id="name" ng-model="business.name">
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Téléphone</label>
    <input type="text" class="form-control" name="phone" id="phone" ng-model="business.phone">
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Rue</label>
    <input type="text" class="form-control" name="street" id="street" ng-model="business.address.street">
	<label class="control-label" for="id">Code Postal</label>
    <input type="text" class="form-control" name="zip_code" id="zip_code" ng-model="business.address.zip_code">
	<label class="control-label" for="id">Ville</label>
    <input type="text" class="form-control" name="city" id="city" ng-model="business.address.city">
	<label class="control-label" for="id">Pays</label>
    <input type="text" class="form-control" name="country" id="country" ng-model="business.address.country">
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">TGI</label>
    <select class="form-control" name="tribunal" id="tribunal" ng-model="business.tribunal.id" ng-change="updateTribunal()">
      <option ng-repeat="tribunal in tribunals" ng-value="tribunal.id" ng-selected="tribunal.selected">{{ tribunal.name }}</option>
    </select>
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Corps</label>
    <select class="form-control" name="corps" id="corps" ng-model="business.corps.id" ng-change="updateCorps()">
      <option ng-repeat="corps in corpsList" ng-value="corps.id" ng-selected="corps.selected">{{ corps.label }}</option>
    </select>
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <div class="input-group">
      <label class="control-label" for="department">Services</label>
    </div>
    <div class="input-group">
      <select class="form-control" name="department" id="department" ng-model="selectedDepartmentId">
        <option ng-repeat="department in departments" ng-value="department.id">{{ department.name }}</option>
      </select>
      <span class="input-group-btn">
        <button tooltip="Ajouter le service à l'établissement" class="btn btn-success" type="button" ng-click="addSelectedDepartement()"><i class="glyphicon glyphicon-plus"></i></button>
      </span>
    </div>
    <div ng-if="selectedDepartments.length > 0" class="input-group">
      <p>Liste des services de cet établissement :</p>
      <ul>
        <li ng-repeat="dep in selectedDepartments">
          {{ dep.name }} <button tooltip="Retirer ce service" class="btn btn-sm btn-danger" type="button" ng-click="removeListedDepartment(dep)"><i class="glyphicon glyphicon-remove"></i></button>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group col-sm-2 col-sm-offset-5">
    <button type="submit" class="btn btn-primary center-block btn-form-send btn-block" ng-click="submit()">Envoyer</button>
  </div>
</form>

<!--<smart-form entity="grade" is-edit="isEdit"></smart-form>-->