<h2>{{ h2Title }}</h2>
<button class="btn btn-default btn-xs" ui-sref="departments.index">
  <i class="glyphicon glyphicon-chevron-left"></i> Retour &agrave la liste des services
</button>

<!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert(alert)">{{alert.message}}</alert>-->

<form novalidate>
  <div ng-if="isEdit" class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">ID</label>
    <input type="text" class="form-control" name="id" id="id" ng-model="department.id" readonly>
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Libelle</label>
    <input type="text" class="form-control" name="name" id="name" ng-model="department.name">
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Corps</label>
    <select class="form-control" name="corps" id="corps" ng-model="rank.corps.id" ng-change="updateDepartmentsCorps()">
      <option ng-repeat="corps in corpsList" ng-value="corps.id" ng-selected="corps.selected">{{ corps.label }}</option>
    </select>
  </div>

  <div class="form-group col-sm-2 col-sm-offset-5">
    <button type="submit" class="btn btn-primary center-block btn-form-send btn-block" ng-click="submit()">Envoyer</button>
  </div>
</form>

<!--<smart-form entity="department" is-edit="isEdit"></smart-form>-->