<div ng-if="loading" class="loading center-block">Chargement...</div>

<table ng-if="!loading" class="table table-striped">
  <tr>
    <th ng-repeat="field in fields">{{ field.name }}</th>
    <th>Actions</th>
  </tr>
  <tr dir-paginate="entity in entities | itemsPerPage: 10">
    <td ng-repeat="value in entitiesValues[$index]">{{ value }}</td>
    <td width="15%">
      <button type="button" class="btn btn-default" tooltip="Modifier" ui-sref="{{ statesNamespace }}.edit({ id: entity.id })">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button type="button" class="btn btn-default" tooltip="Supprimer" ng-click="remove(entity)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </tr>
</table>

<ul>
  <li dir-paginate="entity in entities | itemsPerPage: 10">{{ entity.label }}</li>
</ul>

<div class="text-center">
  <dir-pagination-controls boundary-links="true" on-page-change="refresh()"></dir-pagination-controls>
</div>