<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true" ng-click="menuCollapsed = ! menuCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        Themis
        <!-- <small>
          <a href="#">v<%= version %></a>
        </small> -->
      </div>
    </div>
    <div class="collapse navbar-collapse" collapse="menuCollapsed">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a href ui-sref="home">
            Home
          </a>
        </li>
        <!--<li ng-class="{active: _.contains(['affaires', 'scelles', 'missions', 'facturation'], currentState)}" class="dropdown">-->
        <li ng-class="{active: _.contains(['affaires', 'scelles', 'missions', 'facturation'], currentState)}" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Gestion Affaires <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Suivi des affaires</a></li>
            <li><a href="#">Gestion des scellés</a></li>
            <li ui-sref-active="active"><a href ui-sref="items.index">Gestion des objets</a></li>
            <li ui-sref-active="active"><a href ui-sref="missions.index">Gestion des missions</a></li>
            <li ui-sref-active="active"><a href ui-sref="itemMissions.index">Gestion des objets-missions</a></li>
            <li><a href="#">Gestion de la facturation</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Gestion Instances Juridiques <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
			      <li ui-sref-active="active"><a href ui-sref="courts.index">Gestion des cours d'appel</a></li>
            <li ui-sref-active="active"><a href ui-sref="tribunals.index">Gestion des TGI</a></li>
            <li><a href ui-sref="prosecutors.index">Gestion des procureurs</a></li>
            <li><a href="#">Gestion des juges</a></li>
            <li ui-sref-active="active"><a href ui-sref="status.index">Gestion des titres de juge</a></li>
            <li ui-sref-active="active"><a href ui-sref="clerks.index">Gestion des greffiers</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Gestion Enquêteurs <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a href ui-sref="ranks.index">Gestion des grades d'enquêteur</a></li>
            <li ui-sref-active="active"><a href ui-sref="corps.index">Gestion des corps d'enquêteur</a></li>
            <li ui-sref-active="active"><a href ui-sref="departments.index">Gestion des services d'enquêteur</a></li>
            <li ui-sref-active="active"><a href ui-sref="investigators.index">Gestion des enquêteurs</a></li>
          </ul>
        </li>
      </ul>
      <button type="button" ng-click="logout()" class="btn btn-default navbar-btn navbar-right">Se déconnecter</button>
    </div>
  </div>
</div>