<h2>{{ h2Title }}</h2>
<button class="btn btn-default btn-xs" ui-sref="clerks.index">
  <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste des greffiers
</button>

<!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert(alert)">{{alert.message}}</alert>-->

<form novalidate>
  <div ng-if="isEdit" class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">ID</label>
    <input type="text" class="form-control" name="id" id="id" ng-model="clerk.id" readonly>
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Nom</label>
    <input type="text" class="form-control" name="lname" id="lname" ng-model="clerk.lname">
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Prenom</label>
    <input type="text" class="form-control" name="fname" id="fname" ng-model="clerk.fname">
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Rue</label>
    <input type="text" class="form-control" name="street" id="street" ng-model="clerk.address.street">
	<label class="control-label" for="id">Code Postal</label>
    <input type="text" class="form-control" name="zip_code" id="zip_code" ng-model="clerk.address.zip_code">
	<label class="control-label" for="id">Ville</label>
    <input type="text" class="form-control" name="city" id="city" ng-model="clerk.address.city">
	<label class="control-label" for="id">Pays</label>
    <input type="text" class="form-control" name="country" id="country" ng-model="clerk.address.country">
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Telephone</label>
    <input type="text" class="form-control" name="phone" id="phone" ng-model="clerk.phone">
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Portable</label>
    <input type="text" class="form-control" name="mobile" id="mobile" ng-model="clerk.mobile">
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">Fax</label>
    <input type="text" class="form-control" name="fax" id="fax" ng-model="clerk.fax">
  </div>
  <div class="form-group col-sm-8 col-sm-offset-2">
    <label class="control-label" for="id">TGI</label>
    <select class="form-control" name="tribunal" id="tribunal" ng-model="clerk.tribunal.id" ng-change="updateClerksTribunal()">
      <option ng-repeat="tribunal in tribunals" ng-value="tribunal.id" ng-selected="tribunal.selected">{{ tribunal.name }}</option>
    </select>
  </div>

  <div class="form-group col-sm-2 col-sm-offset-5">
    <button type="submit" class="btn btn-primary center-block btn-form-send btn-block" ng-click="submit()">Envoyer</button>
  </div>
</form>

<!--<smart-form entity="grade" is-edit="isEdit"></smart-form>-->