<!DOCTYPE html>
<html ng-app="themis" ng-controller="AppCtrl">
<head>
  <title ng-bind="pageTitle"></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- glyphicons from BootstrapCDN -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
</head>
<body>
<nav-bar current-state="currentState" ng-if="currentState !== 'login'"></nav-bar>

<div class="container" ui-view="main"></div>

<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <p>The Themis project is based on <a href="http://github.com/ngbp/ngbp">ngbp</a>.</p>
    </div>
  </div>
</footer>
<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script><% }); %>
</body>
</html>
